:root {
  --ct-success: #4caf50;
  --ct-success-rgb: 76, 175, 80;
  --color-primary: #3964f5;
  --color-primary-2: #1890ff;
  --color-text: #313391;
  --color-primary-hover: #1549f4;
}

$grid-breakpoints: (
  md: 680px
);

@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
}

input,
button,
select,
optgroup,
textarea {
  font-family: "Fredoka", sans-serif;
}

label {
  font-family: "Fredoka", sans-serif;
  font-weight: normal;
}

.container-custom {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-custom2 {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.container-custom3 {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-bgv3 {
  background-color: #f6f8f9;
}

.navbar-custom {
  height: 65px;
  // border-bottom: 1px solid #e8e8e8;
  transition: 0.2s;
  padding: 0;
  background-color: var(--color-primary) !important;
  box-shadow: none;
}

.navbar-custom.hidden-submenu {
  height: 65px;
  // overflow: hidden;
  .header-submenu-item {
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

.border-card {
  border-radius: 10px;
  border: 1px solid #dedede;
}

.logo-box {
  height: 65px;
  width: auto;
  margin-right: 50px;
  display: flex;
  text-align: left;
}

.logo-box .logo {
  flex: none;
  line-height: 64px;
  &.logo-text {
    font-size: 30px;
    font-weight: 600;
    color: white;
  }
}
@keyframes skeleton-loading {
  0% {
    transform: translate(-37.5%);
  }

  100% {
    transform: translate(37.5%);
  }
}

@media (max-width: 1600px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1300px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 993px) {
  html {
    zoom: 100%;
    // transform: scale(1);
    // width: 100% !important;
    // height: 100% !important;
  }
  body {
    padding-bottom: 0 !important;
  }

  body[data-scrollmb="disable"] {
    overflow: hidden;
  }

  input,
  textarea {
    font-size: 16px !important;
  }

  .w-md-75 {
    width: 100%;
  }
  .pc-only {
    display: none !important;
  }
  .mb-only {
    display: block !important;
  }

  .mb-only.mb-flex {
    display: flex !important;
    flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 380px) {

}
