/* You can add global styles to this file, and also import other style files */
//@import 'assets/layout';
@import url('./assets/custom.scss');
//@import 'assets/web-resources/css/ubold.custom';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #474bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: donut-spin 1.2s linear infinite;
  // background: url('/assets/media/icons/loading-vuong-nobg.gif') no-repeat center;
  background-size: contain;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

html,
body {
  width: auto;
  height: auto;
  // font-family: 'Inter', sans-serif;
  // font-family: 'Manrope-Medium', sans-serif;
  font-family: "Fredoka", sans-serif;
}

body.modal-open {
  overflow-y: hidden;
}

.p-component,
.p-inputtext,
.p-link,
.p-terminal .p-terminal-input,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Manrope';
  font-family: "Fredoka", sans-serif;
}

.p-button,
.p-component,
.p-datepicker table,
.p-inline-message .p-inline-message-text,
.p-inputtext,
.p-link,
.pi {
  font-size: 14px;
}

.footer {
  position: fixed !important;
  display: none;
}

.text-right {
  text-align: right;
}

.justify-content-right {
  justify-content: right !important;
}

.circle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: orange;
  border-radius: 50%;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.color-text-title {
  color: #051259;
}


